.App {
  text-align: center;
  border: solid 5px palevioletred;
  margin-top: 250px;
  margin-right: 800px;
  margin-left: 800px;
  color: rgb(248, 107, 82)
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-image: url(https://preview.redd.it/eqe3y2bxowf61.png?auto=webp&s=0f5f003ef8f26f3e9599812fcdf68c04e8de8e89);
  background-size: cover;
}

element.style {
  margin-right: 700px;
  padding-top: 0px;
  margin-left: 700px;
}